<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Rabbit by <a href="https://fumigram.com" target="_blank">Fumigram</a></span>
    </div>
  </footer>
<script src="http://<%= domain %>/djs/assets/js/widgets.js"></script>
<script src="http://<%= domain %>/djs/vendors/js/vendor.bundle.base.js"></script>
</body>
</html>