<header id="home" class="hero-area">    
    <div class="overlay">
      <span></span>
      <span></span>
    </div>
    <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar">
      <div class="container">
        <a href="http://<%= domain %>" class="navbar-brand"><img src="img/rabbit.png" alt="" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <i class="lni-menu"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto w-100 justify-content-end">
            <li class="nav-item">
              <a class="nav-link page-scroll" href="http://<%= domain %>/commands">Commands</a>
            </li>
            <% if (user) { %>
            <li class="nav-item">
                <a class="btn btn-singin" href="http://<%= domain %>/dashboard">DASHBOARD</a>
            </li>
            <% } else { %>
            <li class="nav-item">
                <a class="btn btn-singin" href="http://<%= domain %>/login">LOGIN</a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>  
    <div class="container">      
      <div class="row space-100">
        <div class="col-lg-6 col-md-12 col-xs-12">
          <div class="contents"><br>
            <h2 class="head-title">A darling rabbit bot</h2>
            <p>An adorable rabbit bot with 4th gen wild Image generation.<br> Soft Music System, Moderation, NSFW, Memes, Giveaway, <br>Anime and much more. Rabbit serve's you with 150+ commands!</p>
            <div class="header-button">
              <a href="https://discord.com/oauth2/authorize?client_id=734522699228905585&scope=bot&permissions=8589934591" class="btn btn-border-filled">INVITE ME</a>
              <a href="https://discord.com/invite/ghdvMDVFse" class="btn btn-border page-scroll">MY SERVER</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-xs-12 p-0">
          <div class="intro-img">
            <img src="img/banner.jpg" alt="intro">
          </div>            
        </div>
      </div> 
    </div>             
  </header>