@import url("https://fonts.googleapis.com/css?family=Rubik:400,400i,500");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600");

.no-js {background: #f44336;font-family: "Poppins";color: #fff;text-align: center;display: -ms-flexbox;display: -webkit-flex;display: flex;-ms-flex-align: center;-webkit-box-align: center;align-items: center;justify-content: center;position: fixed;user-select: none;height: 100%;width: 100%;top: 0;left: 0;right: 0;bottom: 0;z-index: 999999;}
body {font-family: 'IBM Plex Sans';color: #a0a6ad;font-size: 14px;font-weight: 400;background: #1a1820;overflow-x: hidden;}
html {overflow-x: hidden;}
p {font-size: 14px;color: #5e629c;line-height: 26px;margin-bottom: 0;}
a:hover,
a:focus {color: #000;}
a {color: #000;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
h1,
h2,
h3,
h4,
h5 {font-family: 'IBM Plex Sans';font-size: 40px;font-weight: 400;color: #151948;}
ul {margin: 0;padding: 0;}
ul li {list-style: none;}
a:hover,
a:focus {text-decoration: none;outline: none;}
a:not([href]):not([tabindex]) {color: #fff;}
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {color: #fff;}
.bg-transparent {background: transparent !important;}
.bg-defult {background: #3c9cfd !important;}
/* ==========================================================================
   Rabbit Section Title
   ========================================================================== */
.section {padding: 130px 0px;}
.form-control:focus {outline: none;box-shadow: none;}
.section-header {color: #fff;margin-bottom: 50px;text-align: center;position: relative;}
.section-header .section-title {font-size: 35px;margin-bottom: 12px;font-weight: 600;position: relative;line-height: 30px;}
.section-header .desc-text p {font-size: 18px;color: #dededf;line-height: 26px;margin-bottom: 0;}
/* ==========================================================================
   Rabbit Buttons
   ========================================================================== */
.btn {font-size: 14px;padding: 10px 30px;border-radius: 4px;font-family: 'IBM Plex Sans';letter-spacing: 1px;font-weight: 500;color: #fff;border: none;text-transform: uppercase;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;display: inline-block;}
.btn:focus,
.btn:active {box-shadow: none;outline: none;}
.btn-common {background: linear-gradient(95deg, #453d66 40%, #2c2749 100%);position: relative;z-index: 1;box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);width: 160px;height: 50px;padding: 14px 15px;transition: all 0.5s;}
.btn-common:hover {color: #fff;transform: translateY(-3px);}
.btn-light-bg {background-color: #ff704f;}
.btn-border {border-style: solid;border-width: 1px;cursor: pointer;background-color: transparent;border-color: #413564;color: #1a1820;width: 160px;height: 50px;padding: 14px 15px;}
.btn-border:hover {box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);transform: translateY(-2px);}
.btn-border-filled {cursor: pointer;background: linear-gradient(95deg, #2c2447 40%, #21194e 100%);border-color: #1a1820;color: #fff;-webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.12);box-shadow: 0 1px 25px rgba(0, 0, 0, 0.12);width: 180px;height: 50px;padding: 15px 15px;transition: all 0.5s;}
.btn-border-filled:hover {color: #fff;background: linear-gradient(95deg, #2f2357 40%, #1e1263 100%);border-color: #413564;transform: translateY(-10px);}
.btn-lg {padding: 14px 33px;text-transform: uppercase;font-size: 16px;}
.btn-rm {color: #3c9cfd;padding: 10px 0;text-transform: capitalize;font-size: 16px;}
.btn-rm i {vertical-align: middle;}
.btn-singin {background: linear-gradient(95deg, #453d66 40%, #2c2749 100%);color: #fff;padding: 10px 23px;margin-left: 30px;box-shadow: 0px 8px 9px 0px rgba(33, 60, 100, 0.17);}
.btn-singin:hover,
.btn-singin:active,
.btn-singin:focus {color: #fff;box-shadow: 0px 0px 0px 0px rgba(96, 94, 94, 0.17);}
.btn-light-singin:hover,
.btn-light-singin:active,
.btn-light-singin:focus {color: #fff;box-shadow: 0px 0px 0px 0px rgba(96, 94, 94, 0.17);}
.btn-apple {border-width: 2px;border-color: #3c96ff;border-style: solid;background: linear-gradient(to right, #3c96ff 0%, #2dfbff 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-webkit-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;}
.btn-apple i {background: linear-gradient(to right, #3c96ff 0%, #2dfbff 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.btn-apple:hover,
.btn-apple:active,
.btn-apple:focus {background: linear-gradient(to right, #3c96ff 0%, #2dfbff 100%) !important;-webkit-background-clip: text !important;-webkit-text-fill-color: transparent !important;}
.button:focus {outline: none !important;}
.btn-border-fill {background: #fff;border-color: #fff;color: #0856a3;}
.btn-subtitle {color: #191c1e;font-family: 'IBM Plex Sans';background: #dbecff;text-align: center;border-radius: 30px;padding: 6px 30px;text-transform: uppercase;font-weight: 700;margin-bottom: 20px;font-size: 14px;}
/* ========================================================================== 
   Rabbit Mt,Pl, Pr, Mb
   ========================================================================== */
.clear {clear: both;}
.mt {margin-top: 80px;}
.mt-30 {margin-top: 30px;}
.mb-30 {margin-bottom: 30px;}
.pt-30 {padding-top: 30px;}
.pb-30 {padding-bottom: 30px;}
.pt-70 {padding-top: 70px;}
.mb-50 {margin-bottom: 50px;}
.padding-0 {padding: 0;}
.pr-20 {padding-right: 20px;}
.pl-20 {padding-left: 20px;}
.pl-70 {padding-left: 70px;}
.pr-70 {padding-right: 70px;}
/* ========================================================================== 
   Rabbit Pre Loader
   ========================================================================== */
#preloader {position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: #000;z-index: 9999999;}
.loader {top: 50%;width: 50px;height: 50px;border-radius: 100%;position: relative;margin: 0 auto;}
#loader-1:before,
#loader-1:after {content: "";position: absolute;top: -10px;left: -10px;width: 100%;height: 100%;border-radius: 100%;border: 7px solid transparent;border-top-color: #374688;}
#loader-1:before {z-index: 100;animation: spin 2s infinite;}
#loader-1:after {border: 7px solid #2950b9;}
@keyframes spin {0% {-webkit-transform: rotate(0deg);-ms-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);}
100% {-webkit-transform: rotate(360deg);-ms-transform: rotate(360deg);-o-transform: rotate(360deg);transform: rotate(360deg);}}
/* ========================================================================== 
   Rabbit Scroll To Up 
   ========================================================================== */
.back-to-top {display: none;position: fixed;bottom: 18px;right: 15px;width: 45px;height: 45px;line-height: 50px;cursor: pointer;text-align: center;border-radius: 4px;background: #1a1820;background: linear-gradient(95deg, #262431 40%, #1a1922 100%);box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);z-index: 9999999;}
.back-to-top i {color: #fff;font-size: 20px;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
/* ==========================================================================
   Rabbit Navbar Style
   ========================================================================== */
.logo-menu a {font-size: 20px;color: #fff;}
.menu-bg {background: #272433;background: linear-gradient(95deg, #201e29 40%, #100f14 100%) !important;box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);z-index: 9999;padding: 5px;-webkit-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}
.menu-bg .menu-button {top: 0;}
.menu-bg .menu-button:hover {cursor: pointer;color: #253e83;}
.menu-bg .logo-menu a {color: #3c9cfd;}
.menu-bg .navbar-nav .nav-link {color: #ffffff !important;}
.menu-bg .navbar-nav .nav-link:hover {color: #ffffff !important;}
.menu-bg .navbar-nav .active {color: #ffffff !important;}
.navbar-expand-md .navbar-nav .nav-link {color: #fff;font-size: 16px;padding: 8px 0px;font-family: 'IBM Plex Sans';margin-left: 26px;position: relative;font-weight: 500;}
.navbar-expand-md .navbar-nav .nav-link:before {content: '';position: absolute;bottom: 0;left: 0;width: 0;height: 2px;background: #ffffff;-webkit-transition: 0.3s;-moz-transition: 0.3s;transition: 0.3s;}
.navbar-expand-md .navbar-nav .active::before,
.navbar-expand-md .navbar-nav .nav-link:hover::before {width: 100%;}
.navbar-brand {color: #fff;}
.navbar-brand img{width: 250px;}
.navbar-expand-md .navbar-nav .nav-link:focus,
.navbar-expand-md .navbar-nav .nav-link:hover,
.navbar-expand-md .navbar-nav .nav-link:hover:before {color: #ffffff;}
.navbar-expand-md .navbar-nav .active>.nav-link,
.navbar-expand-md .navbar-nav .nav-link.active,
.navbar-expand-md .navbar-nav .nav-link.active:before,
.navbar-expand-md .navbar-nav .nav-link.open,
.navbar-expand-md .navbar-nav .open>.nav-link {color: #ffffff;}
.navbar-expand-md .navbar-toggler {background: transparent;border: 1px solid #fff;border-radius: 3px;margin: 5px;cursor: pointer;float: right;}
.navbar-expand-md .navbar-toggler i {color: #fff !important;}
.navbar-expand-md .navbar-toggler:focus {outline: none;}
/* ==========================================================================
  Rabbit Hero Area
  ========================================================================== */
.hero-area {position: relative;}
.hero-area .overlay {position: absolute;width: 100%;height: 100%;top: 0px;left: 0px;background: #2f2c3d;background: linear-gradient(95deg, #262431 40%, #1a1922 100%);-webkit-transform: skewY(-12deg);transform: skewY(-12deg);-webkit-transform-origin: 0;transform-origin: 0;z-index: -12;}
.hero-area .overlay :nth-child(1) {width: 33.33333%;width: calc(100% / 2);top: 0;left: 16.66666%;left: calc(calc(100% / 3) / 2);right: auto;background: #272433;background: linear-gradient(95deg, #201e29 40%, #100f14 100%);height: 200px;}
.hero-area .overlay :nth-child(2) {width: 33.33333%;width: calc(100% /3);bottom: 0;background: #272433;background: linear-gradient(95deg, #201e29 40%, #100f14 100%);position: absolute;height: 155px;left: 3%;}
.hero-area .contents {padding: 220px 0;}
.hero-area .contents h2 {color: #fff;font-size: 38px;font-weight: 600;line-height: 60px;margin-bottom: 20px;}
.hero-area .contents p {color: #fff;font-size: 18px;line-height: 26px;}
.hero-area .contents .btn {margin-top: 40px;margin-right: 20px;text-transform: uppercase;width: 180px;height: 50px;padding: 15px 15px;}
.hero-area .contents .btn-border {border: 1px solid #272433;color: #f1f1f1;-webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.12);box-shadow: 0 1px 25px rgba(0, 0, 0, 0.12);width: 180px;height: 50px;padding: 15px 15px;background: linear-gradient(95deg, #374688 40%, #182646 100%);transition: all 0.5s;}
.hero-area .contents .btn-border:hover {background: #1b2c77;color: #fff;transform: translateY(-10px);border: 1px solid #1b2c77;}
.hero-area .intro-img {padding: 180px 0 0px;}
.hero-area .intro-img img {display: block;height: auto;max-width: 100%;transition: all 0.5s;border-color: #ebebeb;-webkit-box-shadow: rgba(0, 0, 0, .45) 0 0 20px -10px;-moz-box-shadow: rgba(0, 0, 0, .45) 0 0 20px -10px;box-shadow: rgba(0, 0, 0, .45) 0 0 20px -10px;-webkit-border-radius: 9px;-moz-border-radius: 9px;border-radius: 9px;}
.hero-area .intro-img img:hover{transform: translateY(-15px);}
/* ==========================================================================
  Rabbit Features Area
  ========================================================================== */
.features-area {padding-top: 100px;padding-bottom: 130px;background: #1a1820;}
.single-features {padding: 40px 20px 52px;background: linear-gradient(95deg, #262431 40%, #1f1e27 100%);border-color: #ebebeb;transition: all 0.5s;-webkit-box-shadow: rgba(0, 0, 0, .45) 0 0 20px -10px;-moz-box-shadow: rgba(0, 0, 0, .45) 0 0 20px -10px;box-shadow: rgba(0, 0, 0, .45) 0 0 20px -10px;-webkit-border-radius: 9px;-moz-border-radius: 9px;border-radius: 9px}
.single-features:hover{transform: translateY(-10px);}
.single-features .features-title-icon .features-title a {font-size: 36px;line-height: 45px;color: #dededf;-webkit-transition: all 0.3s ease-out 0s;-moz-transition: all 0.3s ease-out 0s;-ms-transition: all 0.3s ease-out 0s;-o-transition: all 0.3s ease-out 0s;transition: all 0.3s ease-out 0s;font-weight: 400;}
@media only screen and (min-width: 992px) and (max-width: 1199px) {.single-features .features-title-icon .features-title a {font-size: 24px;line-height: 35px;}}
@media (max-width: 767px) {.single-features .features-title-icon .features-title a {font-size: 24px;line-height: 35px;}}
@media only screen and (min-width: 576px) and (max-width: 767px) {.single-features .features-title-icon .features-title a {font-size: 36px;line-height: 45px;color: #dededf;}}
.single-features .features-title-icon .features-title a:hover {color: #5c62b8;}
.single-features .features-title-icon .features-icon {position: relative;display: inline-block;}
.single-features .features-title-icon .features-icon i {font-size: 88px;line-height: 70px;color: #dededf;position: relative;z-index: 5;}
.single-features .features-title-icon .features-icon .shape {position: absolute;top: 0;left: 0;}
.single-features .features-content .text {font-size: 14px;line-height: 20px;color: #ecf0f1;margin-top: 16px;}
.single-features .features-content .features-btn {color: #262a5f;font-size: 16px;font-weight: 700;margin-top: 29px;}
/* ==========================================================================
   Rabbit Details Section 
   ========================================================================== */
#rabbit-details {padding-bottom: 130px;}
#rabbit-details .container-fluid {padding-right: 30px;padding-left: 30px;}
#rabbit-details .rabbit-item-info {margin-top: 60px;}
.rabbit-item-img img{border-radius: 9px;transition: all 0.5s;-webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.12);box-shadow: 0 1px 20px rgba(0, 0, 0, 0.12);}
.rabbit-item-img img:hover{transform: translateY(-10px);}
#rabbit-details .rabbit-item-info h3 {font-size: 35px;color: #ecf0f1;font-weight: 600;margin-bottom: 25px;}
#rabbit-details .rabbit-item-info p {color: #ecf0f1;font-size: 16px;margin-bottom: 20px;}
/* ==========================================================================
   Rabbit Showcase Some Anime
   ========================================================================== */
#showcase {padding-bottom: 375px;}
#showcase .right-position {position: relative;}
#showcase .showcase-area {position: absolute;width: 97%;z-index: 12;top: 260px;margin: 0px auto;}
#showcase .showcase-text h2 {color: #e4e5e6;}
#showcase .showcase-text p {color: #e7e8e9;}
#showcase .gradient-bg {background: #2a2736;background: linear-gradient(95deg, #1d1c25 40%, #1a1922 100%);padding: 119px 0px 80px 0px;}
#showcase .showcase-slider .owl-controls .owl-page.active span,
#showcase .showcase-slider .owl-controls.clickable .owl-page:hover span {filter: Alpha(Opacity=100);opacity: 1;background: #302c3d;}
#showcase .showcase-slider .owl-controls .owl-page span {display: block;width: 12px;height: 12px;margin: 5px 7px;filter: Alpha(Opacity=50);opacity: 0.5;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;background: #2a2736;}
#showcase .showcase-slider .owl-controls .active span {width: 15px;height: 15px;}
#showcase .showcase-slider .screenshot-thumb {width: 100%;height: 100%;position: relative;}
#showcase .showcase-slider .screenshot-thumb .fancy-table {padding-top: 72px;}
#showcase .showcase-slider .screenshot-thumb p {color: #e4e5e6;font-size: 16px;font-style: italic;margin-bottom: 10px;}
#showcase .showcase-slider .screenshot-thumb h5 {font-size: 20px;color: #e4e5e6;display: block;font-weight: 600;}
#showcase .showcase-slider .screenshot-thumb .zoom-icon a {display: inline-block;margin: 8px;}
#showcase .showcase-slider .screenshot-thumb .zoom-icon a:hover i {color: #000;-webkit-transition: all 200ms ease-in;-ms-transition: all 200ms ease-in;-moz-transition: all 200ms ease-in;transition: all 200ms ease-in;}
#showcase .showcase-slider .screenshot-thumb .zoom-icon a i {color: #e4e5e6;font-size: 20px;}
#showcase .showcase-slider .screenshot-thumb>.hover-content {background-color: #2a2736;opacity: 0.90;height: 85%;left: 0;opacity: 0;position: absolute;top: 0;-webkit-transition-duration: 500ms;-o-transition-duration: 500ms;transition-duration: 500ms;width: 83%;margin: 25px;}
#showcase .showcase-slider .screenshot-thumb:hover .hover-content {opacity: 0.8;-webkit-transition-duration: 500ms;-o-transition-duration: 500ms;transition-duration: 500ms;}
#showcase .showcase-slider .owl-wrapper-outer {padding: 20px 0px;}
/* ==========================================================================
   team section
   ========================================================================== */
#team .single-team {border-radius: 7px;position: relative;-moz-transition: all .8s ease;-webkit-transition: all .8s ease;transition: all .8s ease;-webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.12);box-shadow: 0 1px 25px rgba(0, 0, 0, 0.12);}
#team .single-team img {width: 100%;}
#team .single-team:hover {box-shadow: 0px 0px 25px 0px rgba(95, 95, 95, 0.24);-moz-transition: all .8s ease;-webkit-transition: all .8s ease;transition: all .8s ease;transform: translateY(-18px);}
#team .single-team .team-details {padding: 45px 0px 30px 0px;position: relative;}
#team .single-team .team-details h5.team-title {font-size: 16px;font-weight: 600;display: block;margin-bottom: 0;}
#team .single-team .team-details p {font-size: 12px;color: #5e629c;}
/* ==========================================================================
   Rabbit Footer Section
   ========================================================================== */
#footer-Content {padding-top: 130px;background: #2a2736;background: linear-gradient(95deg, #1d1c25 40%, #1a1922 100%);}
#footer-Content .footer-logo img {padding-top: 70px;}
#footer-Content .form-control:focus {outline: none;box-shadow: none;background: #e5fff3;}
#footer-Content .copyright {margin-top: 50px;border-top: 1px solid #2a2736;padding-top: 30px;padding-bottom: 20px;}
#footer-Content .copyright p {color: #503d9b;font-size: 18px;}
#footer-Content .copyright a {color: #ddd;}
#footer-Content .widget p {color: #e2e2e2;font-size: 16px;line-height: 32px;}
#footer-Content h3.block-title {color: #fff;font-size: 20px;font-weight: 600;margin-bottom: 30px;}
#footer-Content ul.menu li a {color: #e2e2e2;font-size: 16px;font-weight: 400;line-height: 32px;-webkit-transition: all 300ms;-o-transition: all 300ms;transition: all 300ms;}
#footer-Content ul.menu li a:hover {color: #503d9b;padding-left: 5px;-webkit-transition: all 300ms;-o-transition: all 300ms;transition: all 300ms;}
/* ==========================================================================
   Rabbit Webkit Scrollbar
   ========================================================================== */
::-webkit-scrollbar,
::-webkit-scrollbar-button,
::-webkit-scrollbar-track-piece {background: transparent;width: 5px;height: 100%;}
::-webkit-scrollbar-thumb {background: linear-gradient(95deg, #494366 40%, #543eac 100%);}