<%- include("partials/head", { bot, user, path, description, title, twitter, url, image }) %>

<% function capitalizeFirstLetter(string) { return string.charAt(0).toUpperCase() + string.slice(1); } %>

<% if (bot.user.avatar) { botavatar = "https://cdn.discordapp.com/avatars/" + bot.user.id + "/" + bot.user.avatar + ".png?size=512";
 } else {
 botavatar = "https://" + hostname + "/pics/invaild-avatar.png"; } %>
 <!--====== FEATRES TWO PART START ======-->
 <section id="services" class="features-area">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-6 col-md-10">
              <div class="section-title text-center pb-10">
                  <h3 class="title" style="color:ivory;">Features</h3>
                  <p class="text" style="color:ivory;">Some fun stuffs Rabbit can do in your server</p>
              </div> <!-- row -->
          </div>
      </div> <!-- row -->
      <br><br>
      <div class="row justify-content-center">
          <div class="col-lg-4 col-md-7 col-sm-9">
              <div class="single-features mt-40">
                  <div class="features-title-icon d-flex justify-content-between">
                      <h4 class="features-title"><a>Soft Music Feature</a></h4>
                      <div class="features-icon">    
                          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="100px" viewBox="0 0 448.138 448.138" fill="#fff" style="enable-background:new 0 0 448.138 448.138;" xml:space="preserve"><path d="M436.768,151.845c-13.152-26.976-35.744-42.08-57.6-56.704C362.88,84.229,347.52,73.925,336.64,59.173l-2.016-2.72c-6.4-8.608-13.696-18.368-14.816-26.56c-1.12-8.288-7.648-14.048-16.928-13.792C294.496,16.677,288,23.653,288,32.069v285.12c-13.408-8.128-29.92-13.12-48-13.12c-44.096,0-80,28.704-80,64s35.904,64,80,64c44.128,0,80-28.704,80-64V181.573c24.032,9.184,63.36,32.576,74.176,87.2c-2.016,2.976-3.936,6.208-6.176,8.736c-5.856,6.624-5.184,16.736,1.44,22.56c6.592,5.888,16.704,5.184,22.56-1.44c20.032-22.752,33.824-58.784,35.968-94.016C449.024,187.237,445.152,168.997,436.768,151.845z"/><path d="M16,48.069h192c8.832,0,16-7.168,16-16s-7.168-16-16-16H16c-8.832,0-16,7.168-16,16S7.168,48.069,16,48.069z"/><path d="M16,144.069h192c8.832,0,16-7.168,16-16s-7.168-16-16-16H16c-8.832,0-16,7.168-16,16S7.168,144.069,16,144.069z"/><path d="M112,208.069H16c-8.832,0-16,7.168-16,16s7.168,16,16,16h96c8.832,0,16-7.168,16-16S120.832,208.069,112,208.069z"/><path d="M112,304.069H16c-8.832,0-16,7.168-16,16s7.168,16,16,16h96c8.832,0,16-7.168,16-16S120.832,304.069,112,304.069z"/><g></g></svg>
                          <img class="shape" src="img/f-shape-1.svg" alt="Shape">
                      </div>
                  </div>
                  <div class="features-content">
                      <p class="text">Soft music feature. You can easily play music and filter the song to your liking. it's highly likely that this feature would be used much but if you're a lover of music then feel free to go hard and wild.. I personally enjoy using the Nightcore Filter :)</p>
                  </div>
              </div>
          </div>
           <div class="col-lg-4 col-md-7 col-sm-9">
              <div class="single-features mt-40">
                  <div class="features-title-icon d-flex justify-content-between">
                      <h4 class="features-title"><a>Image Generation</a></h4>
                      <div class="features-icon">
                          <svg height="100px" viewBox="1 -47 511.999 511" width="100px" fill="#fff" xmlns="http://www.w3.org/2000/svg"><path d="m469.488281 84.417969h-4.390625c-2.570312-22.023438-20.292968-39.484375-42.441406-41.621094-2.542969-23.742187-22.683594-42.296875-47.085938-42.296875h-302.21875c-40.445312 0-73.351562 32.90625-73.351562 73.347656v211.902344c0 24.574219 18.804688 44.828125 42.773438 47.144531 2.515624 23.488281 22.261718 41.886719 46.3125 42.273438.0625 4.167969.714843 8.191406 1.898437 11.988281 5.386719 17.292969 21.550781 29.882812 40.59375 29.882812h337.910156c23.441407 0 42.511719-19.070312 42.511719-42.507812v-247.601562c0-23.441407-19.070312-42.511719-42.511719-42.511719zm22.511719 42.511719v163.738281l-43.5-32.859375c-11.886719-8.976563-27.960938-9.117188-40-.347656l-55.027344 40.09375-104.9375-108.1875c-12.5-12.890626-32.839844-13.683594-46.304687-1.800782l-93.160157 82.191406v-142.828124c0-12.414063 10.097657-22.511719 22.507813-22.511719h337.910156c12.414063 0 22.511719 10.097656 22.511719 22.511719zm0 247.597656c0 12.414062-10.097656 22.511718-22.507812 22.511718h-337.914063c-10.082031 0-18.640625-6.667968-21.492187-15.824218-.660157-2.113282-1.015626-4.359375-1.015626-6.683594v-78.105469l106.394532-93.863281c5.441406-4.804688 13.660156-4.484375 18.714844.726562l47.359374 48.828126c0 .003906 0 .003906.003907.003906l94.261719 97.183594c1.960937 2.023437 4.566406 3.039062 7.179687 3.039062 2.507813 0 5.019531-.9375 6.960937-2.820312 3.960938-3.847657 4.058594-10.175782.214844-14.140626l-22.625-23.328124 52.742188-38.425782c4.867187-3.546875 11.363281-3.492187 16.167968.136719l55.554688 41.964844zm-429.5-46.707032v-236.109374c0-1.003907.050781-2 .152344-2.976563 1.492187-14.675781 13.925781-26.164063 28.988281-26.164063h122.320313c5.523437 0 10-4.476562 10-10 0-5.523437-4.476563-10-10-10h-122.320313c-27.097656 0-49.140625 22.042969-49.140625 49.140626v220.976562c-12.777344-2.300781-22.5-13.503906-22.5-26.9375v-211.902344c0-29.414062 23.933594-53.347656 53.351562-53.347656h302.21875c13.273438 0 24.371094 9.503906 26.84375 22.070312h-108.453124c-5.523438 0-10 4.476563-10 10 0 5.523438 4.476562 10 10 10h118.96875.011718 5.128906c13.195313 0 24.242188 9.394532 26.800782 21.847657h-313.292969c-23.4375 0-42.507813 19.070312-42.507813 42.511719v164.976562.007812 63.253907c-14.722656-.417969-26.570312-12.523438-26.570312-27.347657zm0 0"/><path d="m388.515625 145.117188c-23.601563 0-42.796875 19.199218-42.796875 42.792968 0 23.597656 19.199219 42.796875 42.796875 42.796875 23.59375 0 42.792969-19.199219 42.792969-42.796875 0-23.59375-19.199219-42.792968-42.792969-42.792968zm0 65.589843c-12.570313 0-22.796875-10.226562-22.796875-22.792969 0-12.570312 10.226562-22.796874 22.796875-22.796874 12.566406 0 22.792969 10.226562 22.792969 22.796874 0 12.566407-10.226563 22.792969-22.792969 22.792969zm0 0"/><path d="m244.730469 56.398438c.25.601562.558593 1.179687.917969 1.722656.363281.546875.78125 1.058594 1.242187 1.519531.460937.457031.96875.878906 1.519531 1.25.539063.359375 1.128906.667969 1.730469.917969.597656.25 1.230469.441406 1.871094.570312.636719.128906 1.296875.191406 1.949219.191406.660156 0 1.308593-.0625 1.960937-.191406.636719-.128906 1.257813-.320312 1.867187-.570312.601563-.25 1.179688-.558594 1.722657-.917969.546875-.371094 1.058593-.792969 1.519531-1.25.46875-.460937.878906-.972656 1.25-1.519531.359375-.542969.667969-1.121094.917969-1.722656.25-.609376.441406-1.238282.570312-1.867188.128907-.652344.191407-1.3125.191407-1.960938 0-.652343-.0625-1.3125-.191407-1.949218-.128906-.640625-.320312-1.273438-.570312-1.871094-.25-.609375-.558594-1.191406-.917969-1.730469-.371094-.550781-.78125-1.058593-1.25-1.519531-.460938-.460938-.972656-.878906-1.519531-1.242188-.542969-.359374-1.121094-.667968-1.722657-.917968-.609374-.25-1.230468-.441406-1.867187-.570313-1.292969-.261719-2.621094-.261719-3.910156 0-.640625.128907-1.273438.320313-1.871094.570313-.601563.25-1.191406.558594-1.730469.917968-.550781.363282-1.058594.78125-1.519531 1.242188s-.878906.96875-1.242187 1.519531c-.359376.539063-.667969 1.121094-.917969 1.730469-.25.597656-.441407 1.230469-.570313 1.871094-.128906.636718-.199218 1.296875-.199218 1.949218 0 .648438.070312 1.308594.199218 1.960938.128906.628906.320313 1.257812.570313 1.867188zm0 0"/></svg>
                          <img class="shape" src="img/f-shape-1.svg" alt="Shape">
                      </div>
                  </div>
                  <div class="features-content">
                      <p class="text">Images. who doesn't love images. with rabbit in your server you and your members have unlimited assess to generate a great number of images from different source and much more. Rabbit will never stop giving you images just ask.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-7 col-sm-9">
              <div class="single-features mt-40">
                  <div class="features-title-icon d-flex justify-content-between">
                      <h4 class="features-title"><a>Light Moderation</a></h4>
                      <div class="features-icon">
                        <svg width="120px" height="120px" xmlns="http://www.w3.org/2000/svg" fill="#fff" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 91 612 612" style="enable-background:new 0 91 612 612;" xml:space="preserve"><g><path class="st0" d="M112.7,347.9c0-106.7,86.7-193.5,193.3-193.5c8.1,0,16.1,0.5,24.1,1.5c-22-8.4-45.3-12.7-68.8-12.7C154.7,143.3,68,230.1,68,336.8c0,98.5,73.9,180.1,169.2,192C164.5,501,112.7,430.4,112.7,347.9z"/><path class="st1" d="M257.9,128.6c-114.5,0-207.7,93.3-207.7,207.9s93.2,207.9,207.7,207.9c19.2,0,38.4-2.6,56.9-7.9l-4.3-15c-17.1,4.9-34.8,7.3-52.6,7.3c-105.9,0-192.1-86.2-192.1-192.3S152,144.2,257.9,144.2S450,230.5,450,336.5c0,2.3,0,4.6-0.1,6.9h-1.1l15.6,0.7h1c0.1-2.5,0.1-5.1,0.1-7.6C465.6,221.9,372.4,128.6,257.9,128.6z"/><path class="st1" d="M368.7,323.4l-114.3,10.4L202,281.3c-3.1-3.1-8-3.1-11.1,0c-3.1,3.1-3.1,8,0,11.1l0,0l55,55.1c1.5,1.5,3.5,2.3,5.5,2.3c0.2,0,0.5,0,0.7,0l118-10.8c4.3-0.4,7.4-4.3,7-8.6C376.6,326.2,372.9,323.1,368.7,323.4L368.7,323.4z"/><path class="st2" d="M448.4,335.5c-0.5,0-0.9,0-1.4,0c-1.2,0-2.5,0-3.7,0.1h6.7C449.4,335.5,448.9,335.5,448.4,335.5z"/><path class="st3" d="M535.8,545.4c0.9-9.6,9.5-32.6,13-41.1c18.4-35.3,17.3-77.5-2.8-111.9c-17.1-29.6-46.6-50-80.4-55.4c0-0.1,0-0.3,0-0.4h-34.5c-59.2,7.7-104.6,56.5-107.9,116.1c-0.1,2-0.2,16.8-0.2,23.1L305,523l-4.3,17.1c1.2,6.1,6.5,10.4,12.7,10.4h26.4v20c-13,0.2-23.4,11-23.1,24c0.2,13,11,23.4,24,23.1h0.3l46.6-0.7c2.2,0,4.3-1,5.8-2.7c5,0,10.3,0,14.9-0.1l0,0c4.1,0,7.6,2.8,8.6,6.7l9.7,38.7c0.9,3.5,4,5.9,7.6,5.9h108.2c4.3,0,7.8-3.5,7.8-7.8c0-0.7-0.1-1.4-0.3-2C549.7,654.9,531.9,587.5,535.8,545.4z M456.9,471.1c14.9,0,27,12,27.2,26.8l0.1,4.4c0.2,15-11.8,27.4-26.8,27.6h-0.1H457c-14.9,0-27-12-27.2-26.8l-0.1-4.4c-0.2-15,11.8-27.4,26.8-27.6h0.1L456.9,471.1z M340.7,601.9c-4.4,0-8-3.5-8-7.9c0-4.3,3.4-7.9,7.7-8h38.8l0.2,15.3L340.7,601.9z M394.9,585.3l-0.1-7.2c-0.1-4.3-3.5-7.7-7.8-7.7h-31.5v-27.8c0-4.3-3.5-7.8-7.8-7.8h-30.4l20.9-54.8c0.3-0.9,0.5-1.8,0.5-2.8c0-10.4,0.1-22.2,0.2-23.7c3-57.5,50.6-102.5,108.2-102.4c0.4,0,0.8,0,1.2,0c0.2,0,0.4,0,0.6,0v105.1c-20.4,3.9-35,21.9-34.7,42.6l0.1,4.4c0.3,19.9,14.3,37.1,33.8,41.3l0.1,9.2c0.2,17.2-13.7,31.3-30.9,31.5L394.9,585.3z M534.4,498c-1.3,3.3-12.9,32.2-14.2,45.9c-3.3,35.3,7.1,84.9,12.1,105.8h-92.1L432,617c-1.8-7.2-6.7-13.1-13.4-16.2c25.4-0.9,45.4-21.8,45.2-47.2l-0.1-8.6c21.1-3.3,36.5-21.6,36.2-42.9l-0.1-4.4c-0.3-20.5-15.1-38-35.3-41.6V352.6c28.6,5,53.5,22.5,68,47.6c17.5,29.8,18.3,66.5,2.3,97.1C534.6,497.6,534.5,497.8,534.4,498z"/></g></svg>              
                          <img class="shape" src="img/f-shape-1.svg" alt="Shape">
                      </div>
                  </div>
                  <div class="features-content">
                      <p class="text">Rabbit will help moderate your server for you if you need it. the bot got you covered, there are serval tools in the moderation command that would prove usefull to you and much more.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--====== FEATRES TWO PART ENDS ======-->

<!--====== RABBIT DETAILS FEATURE ======-->
  <section id="rabbit-details">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 pl-0 pt-70 pr-5">
          <div class="rabbit-item-img">
            <img src="img/music-details.png" class="img-fluid" alt="img">
          </div>
        </div>
        <div class="col-lg-6 col-md-12 pl-4">
          <div class="rabbit-item-info">
            <h3>Cool Music Command</h3>
            <p><svg id="Capa_1" enable-background="new 0 0 512 512" height="150px" viewBox="0 0 512 512" width="150px" xmlns="http://www.w3.org/2000/svg"><g><path d="m202.351 407.732-25.093-137.934-71.294 32.382-69.478 31.558 16.132 89.011c-4.948-.807-10.067-.972-15.267-.018-24.404 4.469-41.069 27.98-36.586 52.384 3.969 21.665 23.403 36.885 44.687 36.885 28.167 0 49.338-25.605 44.282-53.13l-19.526-107.494 35.757-16.241 48.706-22.123 10.554 58.561c-4.988-.798-10.106-.916-15.242.022-24.417 4.479-40.648 27.858-36.152 52.368 4.058 22.121 23.333 36.885 44.165 36.885 28.231 0 49.424-25.476 44.355-53.116z" fill="#9bf"/><path d="m165.225 371.573c-4.988-.798-10.106-.916-15.242.022-24.417 4.479-40.648 27.858-36.152 52.368 4.058 22.121 23.333 36.885 44.165 36.885 28.231 0 49.424-25.475 44.355-53.115l-25.093-137.934-71.294 32.382v32.953l48.706-22.123z" fill="#8095ff"/><path d="m345.965 16.648-50.303 5.076-18.155 137.322c-8.082-6.268-17.532-10.596-27.929-12.103-32.789-4.689-63.23 17.847-67.998 50.742-5.314 36.392 23.047 68.628 59.414 68.628 29.297 0 54.99-21.548 59.326-51.372.009-.06 21.943-165.766 21.943-165.766l23.701-2.388 131.254-13.125-14.11 106.784c-7.921-6.156-17.313-10.611-27.931-12.151-32.585-4.724-63.21 17.717-67.998 50.742-5.314 36.392 23.047 68.628 59.414 68.628 29.297 0 54.99-21.548 59.326-51.387.01-.06 26.046-196.278 26.046-196.278z" fill="#9bf"/><path d="m463.108 140.446c-7.921-6.156-17.313-10.611-27.931-12.151-32.585-4.724-63.21 17.717-67.998 50.742-5.314 36.392 23.047 68.628 59.414 68.628 29.297 0 54.99-21.548 59.326-51.387.01-.06 26.046-196.278 26.046-196.278l-166 16.648v30.139l131.254-13.125z" fill="#8095ff"/><path d="m409.744 274.428-49.105 102.85c-3.53-3.549-7.577-6.678-12.345-8.954-5.621-2.69-11.503-4.1-17.329-4.369-17.584-.811-34.678 8.835-42.671 25.565-14.251 29.832 7.495 64.395 40.518 64.395.732 0 1.425-.266 2.153-.3 16.003-.784 31.157-9.851 38.54-25.276v-.015l36.108-75.615 16.216 45.864 28.271-9.99z" fill="#ffd480"/><path d="m369.505 428.339v-.015l36.108-75.615 16.216 45.864 28.271-9.99-40.356-114.155-49.105 102.85c-3.53-3.549-7.577-6.678-12.345-8.954-5.621-2.69-11.503-4.1-17.329-4.369v89.659c16.003-.783 31.157-9.85 38.54-25.275z" fill="#fb3"/><path d="m154.554 107.392-78.589-52.07-22.339-14.8 22.339 110.087.335 1.652c-.108-.016-.227.02-.335.005-4.85-.668-9.846-.773-14.927.229-24.468 4.991-40.063 28.777-35.142 53.057 4.449 21.815 23.573 36.064 44.004 36.064 2.098 0 4.054-.419 6.064-.69 25.494-3.43 43.356-27.572 38.145-53.275l-16.685-82.119 40.547 26.88z" fill="#ffd480"/><path d="m114.109 187.65-16.685-82.119 40.547 26.88 16.582-25.02-78.589-52.07v95.286l.335 1.652c-.108-.016-.227.02-.335.005v88.66c25.494-3.429 43.356-27.571 38.145-53.274z" fill="#fb3"/></g></svg>
              Rabbit makes it very easy to listen to any of your favorite tracks with friends and family, you could also apply amazing filters that changes the rhythm of your song, try playing a song to find out more.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--====== RABBIT DETAILS FEATURE ======-->

<!--====== RABBIT DETAILS FEATURE ======-->
  <section id="rabbit-details">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 pl-4">
          <div class="rabbit-item-info">
            <h3>Hold Gaveaways</h3>
            <p><svg id="Capa_1" enable-background="new 0 0 512 512" height="150px" viewBox="0 0 512 512" width="150px" xmlns="http://www.w3.org/2000/svg"><g><g><g><g><path d="m146.712 28.956c17.242-5.229 40.892.899 60.528 17.376s29.778 38.703 27.623 56.591c6.187-1.867 11.544-5.194 15.603-10.031 15.373-18.321 6.216-51.311-20.458-73.693-26.674-22.382-60.753-25.671-76.126-7.35l-22.768 27.133z" fill="#f98824"/><path d="m234.863 102.923c-.764 6.417-3.11 12.271-7.165 17.102-15.378 18.326-49.457 15.037-76.131-7.345s-35.831-55.372-20.453-73.699c4.054-4.831 9.411-8.159 15.598-10.025-2.15 17.893 7.986 40.114 27.623 56.591 19.636 16.477 43.28 22.601 60.528 17.376z" fill="#f82f40"/></g></g><g><g><path d="m365.288 28.956c-17.242-5.229-40.892.899-60.528 17.376s-29.779 38.703-27.623 56.591c-6.187-1.867-11.544-5.194-15.603-10.031-15.373-18.321-6.216-51.311 20.458-73.693 26.674-22.382 60.753-25.671 76.126-7.35l22.768 27.133z" fill="#f98824"/><path d="m277.137 102.923c.764 6.417 3.11 12.271 7.164 17.102 15.378 18.326 49.457 15.037 76.131-7.345s35.831-55.372 20.453-73.699c-4.054-4.831-9.411-8.159-15.598-10.025 2.15 17.893-7.986 40.114-27.623 56.591-19.635 16.477-43.279 22.601-60.527 17.376z" fill="#f82f40"/></g></g></g><g><path d="m276.827 82.261h-41.654v-49.72c0-5.722 4.639-10.361 10.361-10.361h20.932c5.722 0 10.361 4.639 10.361 10.361z" fill="#fcb44d"/></g><g><path d="m112.608 117.012h286.785v205.488h-286.785z" fill="#31a7fb"/><path d="m112.609 117.008h286.782v205.49h-286.782z" fill="#31a7fb"/><path d="m366.075 117.012h33.317v205.488h-33.317z" fill="#1c96f9"/><path d="m112.608 117.012h286.785v35.845h-286.785z" fill="#1c96f9"/><g fill="#1785f8"><path d="m218.141 322.498h-21.85l-83.682-83.681v-21.861z"/><path d="m280.632 322.498h-21.851l-146.172-146.172v-21.84z"/><path d="m343.112 322.498h-21.85l-205.49-205.49h21.85z"/><path d="m399.391 253.806v21.86l-158.648-158.658h21.85z"/><path d="m399.391 191.315v21.86l-96.167-96.167h21.86z"/></g><g><path d="m225.523 117.012h60.954v205.488h-60.954z" fill="#fcb44d"/><path d="m225.523 117.012h60.954v35.845h-60.954z" fill="#fb9927"/></g></g><g><g><path d="m424.375 190.878v202.982l-322.845 117.506c-6.758 2.46-13.905-2.545-13.905-9.736v-202.983l322.845-117.505c6.758-2.46 13.905 2.545 13.905 9.736z" fill="#ffd496"/><path d="m424.37 190.883v202.977l-35.104 12.775v-205.39c0-4.704-3.046-8.455-7.035-9.822l28.234-10.278c6.766-2.467 13.905 2.537 13.905 9.738z" fill="#fcb44d"/></g><path d="m424.375 279.693v114.167l-322.845 117.506c-6.758 2.46-13.905-2.545-13.905-9.736v-99.37z" fill="#ffd496"/><path d="m424.37 279.69v99.945l-336.73 122.552c-.01-.187-.01-.373-.01-.56v-99.364z" fill="#fcb44d"/><g><g><path d="m481.682 330.102v114.504c0 4.457-5.389 6.689-8.541 3.538l-118.042-118.042z" fill="#fb4a59"/><path d="m481.668 330.097v28.68l-71.773 26.121-54.8-54.801z" fill="#f82f40"/><path d="m444.667 330.102v89.568l28.473 28.473c3.152 3.152 8.541.92 8.541-3.538v-114.503z" fill="#f82f40"/><g><path d="m30.318 362.406v-114.503c0-4.457 5.389-6.689 8.541-3.538l118.041 118.041z" fill="#fb4a59"/><path d="m156.9 362.404h-46.168l-80.409-80.409v-34.091c0-4.463 5.383-6.694 8.535-3.542z" fill="#f82f40"/></g></g><g><path d="m481.669 205.17v125.04l-444.624 161.83c-3.263 1.188-6.714-1.229-6.714-4.701v-125.041l444.624-161.829c3.263-1.188 6.714 1.228 6.714 4.701z" fill="#fb6672"/><path d="m444.667 211.492v132.186l37.002-13.467v-125.041c0-3.473-3.451-5.889-6.714-4.701z" fill="#fb4a59"/><g fill="#eef4f5"><path d="m435.992 303.676-7.835-21.525 5.716-18.975c1.23-4.086-1.083-8.396-5.17-9.627-4.081-1.231-8.396 1.083-9.627 5.169l-3.473 11.531-10.073-6.601c-3.568-2.339-8.356-1.342-10.697 2.227-2.338 3.569-1.341 8.358 2.227 10.697l16.575 10.862 7.835 21.526c1.142 3.137 4.105 5.086 7.262 5.086.877 0 1.77-.15 2.642-.468 4.01-1.458 6.078-5.892 4.618-9.902z"/><path d="m238.258 367.423-17.917 6.522-2.138-5.873 12.379-4.505c4.009-1.46 6.077-5.893 4.618-9.903-1.459-4.009-5.89-6.079-9.903-4.618l-12.379 4.505-2.138-5.874 17.918-6.522c4.01-1.46 6.077-5.893 4.618-9.903s-5.893-6.078-9.903-4.618l-25.178 9.164c-4.01 1.46-6.077 5.893-4.618 9.903l7.354 20.204c.022.064.036.129.06.193.015.041.038.077.054.118l7.379 20.273c1.142 3.138 4.105 5.086 7.262 5.086.877 0 1.77-.15 2.642-.468l25.178-9.164c4.009-1.46 6.077-5.893 4.618-9.903-1.462-4.009-5.896-6.078-9.906-4.617z"/><path d="m293.74 338.273c-.001-.003-.002-.006-.003-.01-.001-.003-.003-.006-.004-.009l-4.736-13.011c-1.93-5.302-5.809-9.536-10.923-11.921-5.113-2.384-10.849-2.635-16.152-.706-5.302 1.93-9.535 5.809-11.92 10.923s-2.635 10.851-.705 16.152l10.264 28.2c1.142 3.138 4.105 5.086 7.262 5.086.876 0 1.77-.15 2.642-.468 4.009-1.46 6.077-5.893 4.618-9.903l-2.882-7.918 10.657-3.879 2.882 7.918c1.459 4.009 5.888 6.077 9.903 4.618 4.009-1.46 6.077-5.893 4.618-9.903zm-27.823 1.894-2.097-5.762c-.518-1.423-.452-2.963.189-4.336.64-1.373 1.777-2.414 3.199-2.932 1.427-.518 2.964-.45 4.337.189 1.372.64 2.413 1.777 2.932 3.2l2.097 5.761z"/><path d="m395.948 301.064v-.001s0-.001-.001-.001l-4.739-13.02c-1.93-5.302-5.809-9.535-10.923-11.92-5.114-2.384-10.847-2.635-16.152-.705-5.302 1.93-9.535 5.809-11.919 10.923-2.385 5.114-2.635 10.85-.705 16.151l10.264 28.2c1.142 3.138 4.105 5.086 7.262 5.086.876 0 1.77-.15 2.642-.468 4.009-1.46 6.077-5.893 4.618-9.903l-2.882-7.918 10.657-3.879 2.882 7.917c1.459 4.009 5.887 6.077 9.903 4.618 4.009-1.46 6.077-5.893 4.618-9.903zm-27.821 1.901-2.097-5.762c-.518-1.423-.452-2.962.189-4.335.64-1.373 1.777-2.414 3.2-2.932 1.424-.518 2.964-.451 4.336.189s2.413 1.776 2.932 3.2l2.097 5.761z"/><path d="m175.564 344.415c-4.263.212-7.545 3.839-7.334 8.101l1.013 20.369-12.317-16.255c-2.576-3.401-7.425-4.07-10.824-1.491-3.401 2.577-4.069 7.423-1.492 10.824l27.436 36.207c1.491 1.968 3.79 3.06 6.16 3.06.882 0 1.776-.152 2.641-.466 3.185-1.159 5.242-4.259 5.074-7.644l-2.257-45.371c-.212-4.262-3.845-7.548-8.1-7.334z"/><path d="m131.987 368.133c-1.459-4.01-5.89-6.081-9.903-4.618-4.009 1.459-6.076 5.893-4.618 9.903l14.845 40.789c1.142 3.138 4.105 5.086 7.262 5.086.876 0 1.77-.15 2.642-.468 4.009-1.459 6.076-5.893 4.618-9.903z"/><path d="m335.521 294.052c-1.46-4.01-5.893-6.077-9.903-4.618-4.009 1.46-6.077 5.893-4.618 9.903l8.382 23.03-.203-.097c-1.871-.894-4.023-.997-5.973-.289-1.949.71-3.531 2.173-4.389 4.06l-.093.203-8.381-23.028c-1.46-4.011-5.895-6.078-9.903-4.618-4.009 1.46-6.077 5.893-4.618 9.903l14.846 40.789c1.073 2.949 3.824 4.956 6.96 5.078.101.004.202.006.303.006 3.018 0 5.773-1.762 7.03-4.526l4.661-10.242 10.155 4.85c2.833 1.354 6.201.858 8.523-1.252 2.324-2.109 3.141-5.414 2.067-8.363z"/><path d="m116.161 401.284c-1.459-4.01-5.893-6.078-9.903-4.618l-8.192 2.982c-4.01 1.46-6.077 5.893-4.618 9.903.903 2.482 2.952 4.202 5.33 4.819-.02.766-.19 1.527-.524 2.243-.64 1.373-1.777 2.414-3.2 2.932-1.424.518-2.963.451-4.336-.189-1.372-.64-2.413-1.776-2.932-3.2l-5.682-15.61c-1.069-2.939.451-6.2 3.388-7.269 1.542-.56 3.187-.442 4.635.339 3.758 2.024 8.442.619 10.467-3.137 2.024-3.756.62-8.443-3.137-10.467-5.303-2.858-11.592-3.314-17.249-1.257-10.944 3.984-16.608 16.129-12.625 27.075l5.682 15.61c1.93 5.302 5.809 9.535 10.923 11.92 2.84 1.324 5.871 1.99 8.914 1.99 2.436-.001 4.879-.428 7.237-1.285 5.302-1.93 9.535-5.809 11.92-10.923 1.953-4.187 2.449-8.789 1.515-13.229 2.481-2.018 3.543-5.453 2.387-8.629z"/></g></g></g></g><g><path d="m406.388 125.93h-300.776c-5.722 0-10.361-4.639-10.361-10.361v-25.895c0-5.722 4.639-10.361 10.361-10.361h300.776c5.722 0 10.361 4.639 10.361 10.361v25.894c0 5.723-4.639 10.362-10.361 10.362z" fill="#64b9fc"/><path d="m416.744 89.675v25.893c0 5.719-4.632 10.361-10.361 10.361h-35.104c5.719 0 10.361-4.642 10.361-10.361v-25.893c0-5.719-4.642-10.361-10.361-10.361h35.104c5.73 0 10.361 4.641 10.361 10.361z" fill="#31a7fb"/><g><path d="m218.349 79.313h75.301v46.617h-75.301z" fill="#fcc16d"/></g></g></g></svg>
              Hold giveaways on your server very easily, rabbit will help you with giving away gifts to your server members quickly and with no stress.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 pt-70">
          <div class="rabbit-item-img" >
            <img src="img/giveaway.png" class="img-fluid" alt="img">
          </div>
        </div>
      </div>
    </div>
  </section>
<!--====== RABBIT DETAILS FEATURE ======-->

<!--====== RABBIT DETAILS FEATURE ======-->
<section id="rabbit-details">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 pl-0 pt-70 pr-5">
        <div class="rabbit-item-img">
          <img src="img/logs.png" class="img-fluid" alt="img">
        </div>
      </div>
      <div class="col-lg-6 col-md-12 pl-4">
        <div class="rabbit-item-info">
          <h3>Action Logs</h3>
          <p><svg id="Layer_5" enable-background="new 0 0 64 64" height="150px" viewBox="0 0 64 64" width="150px" xmlns="http://www.w3.org/2000/svg"><g><g><g><path d="m33 9v6h-17c-.55 0-1 .45-1 1v9h2.46c.85 0 1.54.69 1.54 1.54 0 .3-.09.59-.26.85l-5.19 7.78c-.34.52-.93.83-1.55.83s-1.21-.31-1.55-.83l-5.19-7.78c-.17-.26-.26-.55-.26-.85 0-.85.69-1.54 1.54-1.54h2.46v-11c0-2.76 2.24-5 5-5z" fill="#ff826e"/></g><g><path d="m58.74 36.61c.17.26.26.55.26.85 0 .85-.69 1.54-1.54 1.54h-2.46v11c0 2.76-2.24 5-5 5h-19v-6h17c.55 0 1-.45 1-1v-9h-2.46c-.85 0-1.54-.69-1.54-1.54 0-.3.09-.59.26-.85l5.19-7.78c.34-.52.93-.83 1.55-.83s1.21.31 1.55.83z" fill="#ff826e"/></g><g><path d="m35 39v2c0 1.1-.9 2-2 2h-2c-1.1 0-2-.9-2-2v-2h3z" fill="#aab2bd"/></g><g><path d="m35 38.21v.79h-3-3v-.75c0-1-.46-1.97-1.3-2.51-2.5-1.59-4.05-4.53-3.63-7.79.45-3.59 3.4-6.49 7-6.9 4.83-.54 8.93 3.22 8.93 7.95 0 2.83-1.47 5.31-3.68 6.73-.84.54-1.32 1.48-1.32 2.48z" fill="#ffeaa7"/></g><g><path d="m22 50v4l-2.53.84c-.06.15-.11.29-.18.43l1.2 2.39-2.83 2.83-2.39-1.2c-.14.07-.28.12-.43.18l-.84 2.53h-4l-.84-2.53c-.15-.06-.29-.11-.43-.18l-2.39 1.2-2.83-2.83 1.2-2.39c-.07-.14-.12-.28-.18-.43l-2.53-.84v-4l2.53-.84c.06-.15.11-.29.18-.43l-1.2-2.39 2.83-2.83 2.39 1.2c.14-.07.28-.12.43-.18l.84-2.53h4l.84 2.53c.15.06.29.11.43.18l2.39-1.2 2.83 2.83-1.2 2.39c.07.14.12.28.18.43zm-6 2c0-2.21-1.79-4-4-4s-4 1.79-4 4 1.79 4 4 4 4-1.79 4-4z" fill="#fcd770"/></g><g><path d="m62 10v4l-2.53.84c-.06.15-.11.29-.18.43l1.2 2.39-2.83 2.83-2.39-1.2c-.14.07-.28.12-.43.18l-.84 2.53h-4l-.84-2.53c-.15-.06-.29-.11-.43-.18l-2.39 1.2-2.83-2.83 1.2-2.39c-.07-.14-.12-.28-.18-.43l-2.53-.84v-4l2.53-.84c.06-.15.11-.29.18-.43l-1.2-2.39 2.83-2.83 2.39 1.2c.14-.07.28-.12.43-.18l.84-2.53h4l.84 2.53c.15.06.29.11.43.18l2.39-1.2 2.83 2.83-1.2 2.39c.07.14.12.28.18.43zm-6 2c0-2.21-1.79-4-4-4s-4 1.79-4 4 1.79 4 4 4 4-1.79 4-4z" fill="#fcd770"/></g><g><circle cx="32" cy="29" fill="#fcd770" r="2"/></g></g><g><path d="m63 9.279-2.456-.818 1.158-2.315-3.848-3.848-2.315 1.158-.818-2.456h-5.441l-.818 2.456-2.315-1.158-3.848 3.848 1.158 2.315-2.457.818v5.441l2.456.818-1.158 2.315 3.848 3.848 2.315-1.158.818 2.457h5.441l.818-2.456 2.315 1.158 3.848-3.848-1.158-2.315 2.457-.818zm-2 4-2.296.765-.168.443c-.049.129-.1.254-.154.378l-.194.433 1.081 2.162-1.809 1.809-2.162-1.081-.433.194c-.124.055-.249.105-.378.154l-.443.168-.765 2.296h-2.559l-.765-2.296-.443-.168c-.129-.049-.254-.1-.378-.154l-.433-.194-2.162 1.081-1.809-1.809 1.081-2.162-.194-.433c-.055-.124-.105-.249-.154-.378l-.168-.443-2.295-.765v-2.559l2.296-.765.168-.443c.049-.129.1-.254.154-.378l.194-.433-1.081-2.161 1.809-1.809 2.162 1.081.433-.194c.124-.055.249-.105.378-.154l.443-.168.765-2.296h2.559l.765 2.296.443.168c.129.049.254.1.378.154l.433.194 2.162-1.081 1.809 1.809-1.081 2.162.194.433c.055.124.105.249.154.378l.168.443 2.295.765z"/><path d="m52 7c-2.757 0-5 2.243-5 5s2.243 5 5 5 5-2.243 5-5-2.243-5-5-5zm0 8c-1.654 0-3-1.346-3-3s1.346-3 3-3 3 1.346 3 3-1.346 3-3 3z"/><path d="m21.702 46.146-3.848-3.848-2.315 1.158-.818-2.456h-5.442l-.818 2.456-2.315-1.158-3.848 3.848 1.158 2.315-2.456.818v5.441l2.456.818-1.158 2.315 3.848 3.848 2.315-1.158.818 2.457h5.441l.818-2.456 2.315 1.158 3.848-3.848-1.158-2.315 2.457-.818v-5.441l-2.456-.818zm-.702 4.575v2.559l-2.296.765-.168.443c-.049.129-.1.254-.154.378l-.194.433 1.081 2.162-1.809 1.809-2.162-1.081-.433.194c-.124.055-.249.105-.378.154l-.443.168-.765 2.295h-2.559l-.765-2.296-.443-.168c-.129-.049-.254-.1-.378-.154l-.433-.194-2.161 1.081-1.809-1.809 1.081-2.162-.194-.433c-.055-.124-.105-.249-.154-.378l-.168-.443-2.296-.765v-2.559l2.296-.765.168-.443c.049-.129.1-.254.154-.378l.194-.433-1.081-2.161 1.809-1.809 2.162 1.081.433-.194c.124-.055.249-.105.378-.154l.443-.168.765-2.296h2.559l.765 2.296.443.168c.129.049.254.1.378.154l.433.194 2.162-1.081 1.809 1.809-1.081 2.162.194.433c.055.124.105.249.154.378l.168.443z"/><path d="m12 47c-2.757 0-5 2.243-5 5s2.243 5 5 5 5-2.243 5-5-2.243-5-5-5zm0 8c-1.654 0-3-1.346-3-3s1.346-3 3-3 3 1.346 3 3-1.346 3-3 3z"/><path d="m28 38.25v2.75c0 1.654 1.346 3 3 3h2c1.654 0 3-1.346 3-3v-2.791c0-.68.322-1.293.862-1.64 2.591-1.666 4.138-4.496 4.138-7.569 0-2.561-1.096-5.008-3.006-6.714-1.908-1.705-4.473-2.521-7.039-2.227-4.052.458-7.365 3.723-7.88 7.762-.447 3.51 1.118 6.867 4.084 8.762.519.331.841.97.841 1.667zm5 3.75h-2c-.552 0-1-.448-1-1v-1h4v1c0 .552-.448 1-1 1zm-2-13c0-.552.448-1 1-1s1 .448 1 1-.448 1-1 1-1-.448-1-1zm-5.94-.926c.399-3.136 2.974-5.672 6.12-6.027.278-.032.555-.048.829-.048 1.725 0 3.353.617 4.652 1.778 1.486 1.328 2.339 3.232 2.339 5.223 0 2.39-1.204 4.591-3.219 5.887-1.058.68-1.704 1.833-1.768 3.113h-1.013v-6.184c1.161-.414 2-1.514 2-2.816 0-1.654-1.346-3-3-3s-3 1.346-3 3c0 1.302.839 2.402 2 2.816v6.184h-1.015c-.074-1.292-.711-2.439-1.749-3.103-2.308-1.474-3.525-4.088-3.176-6.823z"/><path d="m54.387 28.277c-.534-.799-1.426-1.277-2.387-1.277s-1.853.478-2.387 1.277l-5.188 7.781c-.278.419-.425.905-.425 1.407 0 1.397 1.138 2.535 2.535 2.535h1.465v8h-17v2h17c1.103 0 2-.897 2-2v-10h-3.465c-.295 0-.535-.24-.535-.535 0-.106.031-.209.09-.297l5.188-7.781c.322-.484 1.123-.484 1.445 0l5.188 7.781c.059.088.09.19.09.297-.001.295-.241.535-.536.535h-3.465v12c0 2.206-1.794 4-4 4h-19v2h19c3.309 0 6-2.691 6-6v-10h1.465c1.397 0 2.535-1.138 2.535-2.535 0-.502-.147-.988-.426-1.406z"/><path d="m27 54h2v2h-2z"/><path d="m9.613 35.723c.534.799 1.426 1.277 2.387 1.277s1.853-.478 2.387-1.277l5.188-7.781c.278-.419.425-.905.425-1.407 0-1.397-1.138-2.535-2.535-2.535h-1.465v-8h17v-2h-17c-1.103 0-2 .897-2 2v10h3.465c.295 0 .535.24.535.535 0 .106-.031.209-.09.297l-5.188 7.781c-.322.484-1.123.484-1.445 0l-5.187-7.781c-.059-.088-.09-.19-.09-.297 0-.295.24-.535.535-.535h3.465v-12c0-2.206 1.794-4 4-4h19v-2h-19c-3.309 0-6 2.691-6 6v10h-1.465c-1.397 0-2.535 1.138-2.535 2.535 0 .502.147.988.426 1.406z"/><path d="m35 8h2v2h-2z"/></g></g></svg>
          The loging of members action has been very helpful in a lot ways, and yes the rabbit bot will help you with logging member actions on your server.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--====== RABBIT DETAILS FEATURE ======-->

<!--====== RABBIT DETAILS FEATURE ======-->
<section id="rabbit-details">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 pl-4">
        <div class="rabbit-item-info">
          <h3>Image Generation</h3>
          <p><svg id="Capa_1" enable-background="new 0 0 512.023 512.023" height="150px" viewBox="0 0 512.023 512.023" width="150px" xmlns="http://www.w3.org/2000/svg"><g><g><path d="m154.607 91.102 71.047-71.047c16.725-16.725 43.841-16.725 60.566 0l106.773 106.773c16.725 16.725 16.725 43.841 0 60.566l-71.047 71.047c-16.725 16.725-43.841 16.725-60.566 0l-106.773-106.773c-16.725-16.725-16.725-43.841 0-60.566z" fill="#eeecff"/><path d="m281.449 231.345-99.747-99.747c-5.641-5.641-5.641-14.786 0-20.426l64.021-64.021c5.64-5.641 14.786-5.641 20.426 0l99.747 99.747c5.641 5.641 5.641 14.786 0 20.427l-64.021 64.021c-5.64 5.64-14.785 5.64-20.426-.001z" fill="#ff6e80"/></g><path d="m372.761 451.206h-292.851v-362.772h292.851c20.03 0 36.268 16.238 36.268 36.268v290.236c0 20.03-16.238 36.268-36.268 36.268z" fill="#00d6bc"/><path d="m409.029 414.938v-180.954l-1.615-1.615c-13.755-13.755-32.043-21.33-51.495-21.33-19.453 0-37.741 7.575-51.496 21.33l-106.774 106.772c-13.755 13.756-21.331 32.044-21.331 51.497 0 19.452 7.576 37.74 21.331 51.495l9.072 9.073h166.04c20.03 0 36.268-16.238 36.268-36.268z" fill="#00c072"/><path d="m329.023 325.97h-125.777c-12.259 0-22.198-9.938-22.198-22.197v-20.739c0-12.259 9.938-22.197 22.198-22.197h125.777c12.259 0 22.197 9.938 22.197 22.197v20.739c0 12.259-9.938 22.197-22.197 22.197z" fill="#f7e969"/><path d="m101.599 458.839h-38.165c-11.697 0-21.179-9.482-21.179-21.179v-335.679c0-11.697 9.482-21.179 21.179-21.179h38.164c11.697 0 21.179 9.482 21.179 21.179v335.679c.001 11.696-9.481 21.179-21.178 21.179z" fill="#7292de"/><path d="m210.821 325.97h118.202c12.259 0 22.198-9.938 22.198-22.198v-20.739c0-12.259-9.938-22.197-22.198-22.197h-53.067z" fill="#f5c956"/><path d="m289.909 491.968-71.047-71.047c-16.725-16.725-16.725-43.841 0-60.566l106.773-106.773c16.725-16.725 43.841-16.725 60.566 0l71.047 71.047c16.725 16.725 16.725 43.841 0 60.566l-106.773 106.773c-16.725 16.725-43.841 16.725-60.566 0z" fill="#eeecff"/><path d="m430.152 365.125-99.747 99.747c-5.641 5.641-14.786 5.641-20.427 0l-64.021-64.021c-5.641-5.641-5.641-14.786 0-20.426l99.747-99.747c5.641-5.641 14.786-5.641 20.427 0l64.021 64.021c5.641 5.64 5.641 14.785 0 20.426z" fill="#7292de"/><g><path d="m214.642 179.138c-.04 12.848-13.152 23.222-29.285 23.171s-29.179-10.506-29.139-23.354 13.151-23.222 29.285-23.172c16.133.051 29.179 10.507 29.139 23.355z" fill="#fff"/><path d="m314.557 179.451c-.04 12.848 13.006 23.304 29.139 23.354 16.133.051 29.245-10.323 29.285-23.171s-13.006-23.304-29.139-23.355c-16.134-.05-29.245 10.324-29.285 23.172z" fill="#fff"/><path d="m288.207 161.495c.046-14.555-10.495-15.956-23.502-15.997s-23.556 1.294-23.602 15.849c-.045 14.555 10.462 26.387 23.469 26.428 13.008.041 23.59-11.725 23.635-26.28z" fill="#3b4456"/></g><path d="m314.556 384.873c-11.608 11.608-6.819 52.162-2.961 81.373 5.655 4.205 13.678 3.758 18.81-1.374l80.947-80.947c-27.811-3.398-82.935-12.912-96.796.948z" fill="#00d6bc"/><path d="m202.601 132.381c-.022 0-.044 0-.066 0-11.771 0-21.367 9.559-21.405 21.338-.013 4.142 3.334 7.51 7.476 7.523h.024c4.131 0 7.486-3.343 7.499-7.477.011-3.524 2.883-6.385 6.405-6.385h.02c3.531.011 6.395 2.894 6.384 6.425-.013 4.143 3.334 7.511 7.477 7.523h.024c4.131 0 7.487-3.343 7.5-7.477.036-11.8-9.535-21.432-21.338-21.47zm153.379 187.607c-7.175 0-12.991 5.816-12.991 12.991s5.816 12.991 12.991 12.991 12.991-5.816 12.991-12.991-5.816-12.991-12.991-12.991zm106.572-.663-46.022-46.022v-148.601c0-24.134-19.635-43.768-43.769-43.768h-15.055l-66.183-66.182c-19.668-19.668-51.502-19.672-71.173-.001l-66.183 66.183h-33.113c-5.116-4.733-11.952-7.633-19.455-7.633h-21.465c-4.142 0-7.5 3.358-7.5 7.5 0 4.143 3.358 7.5 7.5 7.5h21.465c7.543 0 13.679 6.137 13.679 13.68v335.679c0 7.543-6.136 13.679-13.679 13.679h-38.165c-7.543 0-13.679-6.136-13.679-13.679v-335.679c0-2.959.927-5.773 2.682-8.137 2.468-3.326 1.773-8.024-1.554-10.492-3.326-2.469-8.023-1.772-10.492 1.553-3.687 4.969-5.636 10.873-5.636 17.076v335.679c0 15.814 12.865 28.679 28.679 28.679h38.165c7.503 0 14.339-2.9 19.455-7.633h124.986l38.565 38.565c19.669 19.669 51.501 19.671 71.173.001l71.014-71.013c2.929-2.93 2.929-7.678 0-10.607-2.929-2.928-7.677-2.928-10.608 0l-71.014 71.014c-13.805 13.805-36.152 13.808-49.958-.001l-71.047-71.047c-13.806-13.805-13.807-36.151 0-49.958l106.774-106.773c13.804-13.806 36.151-13.808 49.958 0l71.047 71.046c13.773 13.774 13.774 36.187.001 49.96l-10.509 10.508c-2.93 2.929-2.93 7.678-.001 10.606 2.929 2.93 7.678 2.929 10.607.001l10.51-10.508c19.621-19.623 19.621-51.552 0-71.175zm-231.595-293.967c13.806-13.805 36.152-13.807 49.959.001l55.575 55.575h-25.95l-39.087-39.088c-8.556-8.556-22.478-8.557-31.034 0l-39.087 39.088h-25.951zm58.369 55.576h-66.78l28.48-28.48c2.708-2.707 7.113-2.707 9.82 0zm-39.185 237.535h-46.895c-8.104 0-14.697-6.593-14.697-14.697v-20.739c0-8.105 6.593-14.697 14.697-14.697h97.028zm151.388-60.167-10.025-10.024c-19.622-19.62-51.549-19.622-71.173 0l-5.058 5.058h-112.027c-16.375 0-29.697 13.322-29.697 29.697v20.739c0 16.375 13.322 29.697 29.697 29.697h31.895l-21.582 21.582c-19.669 19.67-19.67 51.502 0 71.173l17.482 17.481h-101.41c.42-1.95.647-3.972.647-6.046v-335.678c0-2.074-.227-4.096-.647-6.047h243.13c15.863 0 28.769 12.905 28.769 28.768v133.6zm33.927 81.092-64.022-64.021c-8.557-8.555-22.477-8.555-31.033 0l-99.747 99.747c-8.556 8.557-8.556 22.478 0 31.034l64.021 64.02c8.479 8.48 22.373 8.662 31.034.001l99.747-99.747c8.556-8.556 8.556-22.477 0-31.034zm-110.355 120.175c-1.695 1.695-4.14 2.425-6.578 1.825-2.615-20.12-7.538-62.343 1.337-71.217 1.717-1.717 8.167-5.634 30.814-5.041 14.439.384 30.793 2.429 44.604 4.255zm99.748-99.748-16.204 16.204c-35.643-4.587-83.537-12.309-99.392 3.544-10.213 10.214-11.068 32.997-7.634 66.336l-50.358-50.358c-2.708-2.707-2.708-7.112 0-9.819l99.748-99.747c2.704-2.706 7.111-2.708 9.819 0l64.021 64.021c2.708 2.707 2.708 7.112 0 9.819zm-140.085-218.446c-5.415-2.768-11.926-3.352-20.036-3.377-8.09-.06-14.623.518-20.056 3.251-5.029 2.531-11.031 8.068-11.069 20.075-.057 18.115 13.235 33.896 30.946 33.951h.093c17.679 0 31.009-15.687 31.065-33.757.038-12.007-5.93-17.581-10.943-20.143zm-20.125 38.9c-.015 0-.029 0-.043 0-9.184-.028-16.024-8.948-15.993-18.904.017-5.316 1.766-6.196 2.811-6.723 2.841-1.43 7.98-1.651 12.744-1.651.175 0 .349 0 .523.001 4.907.016 10.32.233 13.257 1.734 1.042.532 2.785 1.423 2.769 6.739-.03 9.929-6.902 18.804-16.068 18.804zm62.252-47.504c-.023 0-.045 0-.068 0-11.77 0-21.366 9.558-21.403 21.337-.013 4.142 3.334 7.51 7.477 7.523h.024c4.13 0 7.486-3.343 7.499-7.477.011-3.524 2.882-6.384 6.403-6.384h.022c3.531.011 6.396 2.892 6.384 6.424-.013 4.142 3.334 7.51 7.477 7.523h.024c4.13 0 7.485-3.343 7.499-7.477.019-5.717-2.191-11.099-6.222-15.154-4.032-4.053-9.399-6.296-15.116-6.315z"/></g></svg>
          There are a lot of image variations to choose from and with the generating of images you can enjoy having unlimited images with more coming in.</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 pt-70">
        <div class="rabbit-item-img" >
          <img src="img/images.png" class="img-fluid" alt="img">
        </div>
      </div>
    </div>
  </div>
</section>
<!--====== RABBIT DETAILS FEATURE ======-->

<!--====== RABBIT DETAILS FEATURE ======-->
<section id="rabbit-details">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 pl-0 pt-70 pr-5">
        <div class="rabbit-item-img">
          <img src="img/memes.png" class="img-fluid" alt="img">
        </div>
      </div>
      <div class="col-lg-6 col-md-12 pl-4">
        <div class="rabbit-item-info">
          <h3>Fun and Memes</h3>
          <p><svg id="Capa_1" enable-background="new 0 0 512 512" height="150px" viewBox="0 0 512 512" width="150px" xmlns="http://www.w3.org/2000/svg"><g><path d="m512 256c0 141.385-114.615 256-256 256s-256-114.615-256-256c0-130.091 97.036-237.518 222.676-253.851 10.907-1.418 22.03 16.851 33.324 16.851 69.328 0 132.219 8.558 178.317 53.317 47.912 46.522 77.683 111.626 77.683 183.683z" fill="#6354b2"/><path d="m437.424 278.448v150.212c0 4.326-1.373 8.331-3.708 11.603-1.908 1.84-3.844 3.651-5.808 5.432-3.048 1.88-6.639 2.965-10.484 2.965h-23.569l6.091 19.066c-7.499 5.108-15.282 9.828-23.323 14.131l-25.359-33.198h-263.845c-7.011-6.14-13.685-12.657-19.989-19.519-.004-.16-.006-.32-.006-.481v-115.322l-3.008-2.151c-1.374-.983-3.024-1.505-4.714-1.492l-37.937.288c-3.466.026-6.554-2.182-7.65-5.47l-11.997-35.991c-.397-1.191-1.067-2.266-1.949-3.143-.112-3.113-.169-6.239-.169-9.378 0-28.64 4.703-56.181 13.379-81.894 16.473 32.821 39.268 61.92 66.788 85.7 2.25-.877 4.698-1.358 7.258-1.358h330c11.045 0 19.999 8.954 19.999 20z" fill="#54469d"/><path d="m197.774 273.266-22.229.169c-1.689.013-3.331.56-4.691 1.563l-30.523 22.532c-2.788 2.058-6.585 2.087-9.404.071l-30.861-22.066c-1.374-.983-3.024-1.505-4.714-1.492l-37.937.288c-3.466.026-6.554-2.182-7.65-5.47l-11.997-35.991c-.534-1.603-1.562-2.995-2.936-3.978l-30.862-22.066c-2.819-2.016-4.02-5.618-2.974-8.922l11.449-36.17c.51-1.611.497-3.341-.038-4.944l-11.996-35.991c-1.096-3.288.05-6.908 2.838-8.966l27.403-20.229c24.223 83.521 86.653 150.798 167.122 181.662z" fill="#ff2aaa"/><path d="m452.362 5v225.915c0 2.761-2.239 5-5 5h-225.915c-2.761 0-5-2.239-5-5v-225.915c0-2.761 2.239-5 5-5h225.915c2.761 0 5 2.239 5 5z" fill="#c9f0ff"/><path d="m257.863 235.915h-36.416c-2.761 0-5-2.239-5-5v-225.915c0-2.761 2.239-5 5-5h36.416c-2.761 0-5 2.239-5 5v225.915c0 2.761 2.238 5 5 5z" fill="#9ae7fd"/><path d="m416.872 35.489v164.936h-164.936v-164.936z" fill="#64dcfc"/><path d="m393.894 117.958c0 32.855-26.634 59.489-59.489 59.489-32.855 0-59.489-26.634-59.489-59.489s26.634-59.49 59.489-59.49c32.854 0 59.489 26.634 59.489 59.49z" fill="#ffc143"/><path d="m387.529 144.757c-9.802 19.393-29.911 32.69-53.125 32.69-32.855 0-59.489-26.634-59.489-59.489 0-23.214 13.297-43.323 32.69-53.125-4.071 8.054-6.364 17.159-6.364 26.8 0 32.855 26.634 59.489 59.489 59.489 9.641-.001 18.746-2.294 26.799-6.365z" fill="#ffb509"/><path d="m360.702 132.283c0 10.211-8.278 18.49-18.489 18.49h-15.106c-10.211 0-18.489-8.278-18.489-18.49 0-2.761 2.239-5 5-5h42.085c2.761 0 4.999 2.239 4.999 5z" fill="#ff9500"/><path d="m268.735 195.872c1.096 3.288-.05 6.908-2.838 8.966l-30.523 22.532c-1.359 1.003-2.366 2.411-2.876 4.022l-11.449 36.169c-1.046 3.304-4.101 5.559-7.566 5.585l-15.444.117c-82.938-27.072-147.248-95.352-168.745-180.656l4.478-3.305c1.359-1.003 2.366-2.411 2.876-4.022l11.449-36.17c1.046-3.304 4.101-5.559 7.566-5.585l37.937-.288c1.689-.013 3.331-.56 4.691-1.563l30.523-22.532c2.788-2.058 6.585-2.087 9.404-.071l30.861 22.066c1.374.983 3.024 1.505 4.714 1.492l37.937-.288c3.466-.026 6.554 2.182 7.65 5.47l11.997 35.991c.534 1.603 1.562 2.995 2.936 3.978l30.861 22.066c2.819 2.016 4.02 5.618 2.974 8.922l-11.449 36.17c-.51 1.611-.497 3.342.038 4.944z" fill="#ff4fb8"/><path d="m172 112.462h-15.011l7.326-35.247c.843-4.055-1.761-8.026-5.816-8.869-4.056-.844-8.026 1.761-8.869 5.817l-7.961 38.3h-16.57l7.327-35.247c.844-4.055-1.761-8.026-5.816-8.869-4.057-.842-8.026 1.761-8.869 5.817l-7.961 38.3h-18.092c-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5h14.973l-6.62 31.849h-18.041c-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5h14.923l-7.483 35.999c-.844 4.055 1.761 8.026 5.816 8.869.515.107 1.028.158 1.534.158 3.479 0 6.6-2.435 7.335-5.975l8.118-39.052h16.57l-7.483 35.999c-.843 4.055 1.761 8.026 5.816 8.869.515.107 1.028.158 1.534.158 3.479 0 6.6-2.435 7.335-5.975l8.117-39.052h18.18c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5h-15.062l6.62-31.849h18.13c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5zm-40.069 46.849h-16.57l6.62-31.849h16.57z" fill="#ffafe2"/><path d="m459.915 244.958v150.212c0 11.046-8.954 20-20 20h-23.569l15.3 47.896c1.797 5.625-2.4 11.372-8.306 11.372-2.717 0-5.279-1.267-6.929-3.426l-42.657-55.843h-263.839c-11.046 0-20-8.954-20-20v-150.211c0-11.046 8.954-20 20-20h330c11.046 0 20 8.954 20 20z" fill="#00d683"/><path d="m154.461 415.17h-44.546c-11.046 0-20-8.954-20-20v-150.212c0-11.046 8.954-20 20-20h44.546c-11.046 0-20 8.954-20 20v150.212c0 11.046 8.954 20 20 20z" fill="#00b972"/><path d="m209.372 203.965v-13.851h-13.851c-4.142 0-7.5-3.358-7.5-7.5s3.358-7.5 7.5-7.5h13.851v-13.851c0-4.142 3.358-7.5 7.5-7.5 4.142 0 7.5 3.358 7.5 7.5v13.851h13.851c4.142 0 7.5 3.358 7.5 7.5s-3.358 7.5-7.5 7.5h-13.851v13.851c0 4.142-3.358 7.5-7.5 7.5-4.142 0-7.5-3.358-7.5-7.5zm7.871 280.016v-13.851h-13.851c-4.142 0-7.5-3.358-7.5-7.5s3.358-7.5 7.5-7.5h13.851v-13.851c0-4.142 3.358-7.5 7.5-7.5 4.142 0 7.5 3.358 7.5 7.5v13.851h13.851c4.142 0 7.5 3.358 7.5 7.5s-3.358 7.5-7.5 7.5h-13.851v13.851c0 4.142-3.358 7.5-7.5 7.5-4.142 0-7.5-3.358-7.5-7.5zm-157.211-190.703c-4.142 0-7.5 3.358-7.5 7.5v35.31c0 4.142 3.358 7.5 7.5 7.5s7.5-3.358 7.5-7.5v-35.31c0-4.143-3.358-7.5-7.5-7.5zm1.572 60.436h-3.145c-3.274 0-5.927 2.654-5.927 5.927v2.805c0 3.274 2.654 5.927 5.927 5.927h3.145c3.274 0 5.927-2.654 5.927-5.927v-2.805c.001-3.274-2.653-5.927-5.927-5.927zm114.867 14.379c-.015 0-.028 0-.043 0-9.768.054-23.953.11-32.375.093v-106.49c0-4.142-3.357-7.5-7.5-7.5s-7.5 3.358-7.5 7.5v113.897c0 3.653 2.632 6.775 6.232 7.392.54.093 1.213.208 13.439.208 6.014 0 14.824-.028 27.787-.1 4.142-.023 7.481-3.4 7.458-7.542-.022-4.128-3.375-7.458-7.498-7.458zm241.277 0c-.015 0-.028 0-.043 0-9.768.054-23.955.11-32.375.093v-106.49c0-4.142-3.357-7.5-7.5-7.5s-7.5 3.358-7.5 7.5v113.897c0 3.653 2.632 6.775 6.232 7.392.54.093 1.213.208 13.439.208 6.014 0 14.824-.028 27.787-.1 4.142-.023 7.481-3.4 7.458-7.542-.023-4.128-3.375-7.458-7.498-7.458zm-84.458-49.401c0 35.563-28.934 64.497-64.497 64.497s-64.496-28.933-64.496-64.497 28.933-64.497 64.496-64.497 64.497 28.934 64.497 64.497zm-15 0c0-27.292-22.204-49.497-49.497-49.497-27.292 0-49.496 22.204-49.496 49.497s22.204 49.497 49.496 49.497 49.497-22.204 49.497-49.497zm52.53-218.762c0 6.617-5.364 11.981-11.982 11.981-5.811 0-10.784-4.17-11.798-9.892l-2.99-16.878 16.878 2.99c5.723 1.015 9.892 5.988 9.892 11.799zm-72.832 0c0 6.617 5.364 11.981 11.982 11.981 5.811 0 10.784-4.17 11.798-9.892l2.99-16.878-16.878 2.99c-5.722 1.015-9.892 5.988-9.892 11.799z" fill="#fff"/></g></svg>
          There are other fun commands with memes and more. I don't plan to stop adding more so go wild and start using the adorable rabbit bot.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--====== RABBIT DETAILS FEATURE ======-->


  <!-- Recent Showcase Section Start -->
  <section id="showcase">
    <div class="container-fluid right-position">
      <!-- Start Row -->
      <div class="row gradient-bg">
        <div class="col-lg-12">
          <div class="showcase-text section-header text-center">  
            <div>   
              <h2 class="section-title">Anime and Manga Guys and girls >_< </h2>
              <div class="desc-text">
                <p>Oh yeah did I forget to mention that I'm a huge fan of anime?</p>  
                <p>Soo here are my recommendation of some animes, manags for you.</p>
              </div>
            </div> 
          </div>
        </div>

      </div>
      <!-- End Row -->
      <!-- Start Row -->
      <div class="row justify-content-center showcase-area">
        <div class="col-lg-12 col-md-12 col-xs-12 pr-0">
          <div class="showcase-slider owl-carousel">
            <div class="item">
              <div class="screenshot-thumb">
                <img src="img/faces/rem.jpg" class="img-fluid" alt="" />
                <div class="hover-content text-center">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="single-text">
                        <p>Anime , Re-Zero</p>
                        <h5>Rem</h5>
                      </div>
                      <div class="zoom-icon">
                        <a class="lightbox" href="img/faces/rem-1.jpeg"><i class="lni-zoom-in"></i></a>
                        <a href="https://animekisa.tv/search?q=re+zero"><i class="lni-link"></i></a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="item">
              <div class="screenshot-thumb">
                <img src="img/faces/nezuko.jpg" class="img-fluid" alt="" />
                <div class="hover-content text-center">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="single-text">
                        <p>Anime , Kimetsu no yaiba</p>
                        <h5>Nezuko</h5>
                      </div>
                      <div class="zoom-icon">
                        <a class="lightbox" href="img/faces/nezuko-1.jpg"><i class="lni-zoom-in"></i></a>
                        <a href="https://animekisa.tv/search?q=kimetsu+no+yaiba"><i class="lni-link"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="screenshot-thumb">
                <img src="img/faces/Jinwoo.jpg" class="img-fluid" alt="" />
                <div class="hover-content text-center">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="single-text">
                        <p>Manga , Solo Leveling</p>
                        <h5>Sung Jinwoo</h5>
                      </div>
                      <div class="zoom-icon">
                        <a class="lightbox" href="img/faces/Jinwoo-1.png"><i class="lni-zoom-in"></i></a>
                        <a href="https://sololevelingread.com"><i class="lni-link"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="screenshot-thumb">
                <img src="img/faces/Long hao chen.jpg" class="img-fluid" alt="" />
                <div class="hover-content text-center">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="single-text">
                        <p>Manga , Shen Yin Wang Zuo</p>
                        <h5>Long Hao Chen</h5>
                      </div>
                      <div class="zoom-icon">
                        <a class="lightbox" href="img/faces/Long hao chen-1.jpg"><i class="lni-zoom-in"></i></a>
                        <a href="https://mangaclash.com/manga/shen-yin-wang-zuo"><i class="lni-link"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="screenshot-thumb">
                <img src="img/faces/Akame.jpg" class="img-fluid" alt="" />
                <div class="hover-content text-center">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="single-text">
                        <p>Anime , Akame ga Kill!</p>
                        <h5>Akame</h5>
                      </div>
                      <div class="zoom-icon">
                        <a class="lightbox" href="img/faces/Akame-1.jpg"><i class="lni-zoom-in"></i></a>
                        <a href="https://animekisa.tv/search?q=akame+ga+kill"><i class="lni-link"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="screenshot-thumb">
                <img src="img/faces/wang dong er.jpg" class="img-fluid" alt="" />
                <div class="hover-content text-center">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="single-text">
                        <p>Manga , Douluo Dalu ll - Jueshui Tangmen</p>
                        <h5>Wang Dong Er</h5>
                      </div>
                      <div class="zoom-icon">
                        <a class="lightbox" href="img/faces/wang dong er-1.jpg"><i class="lni-zoom-in"></i></a>
                        <a href="https://soulland.fandom.com/wiki/Soul_Land_II"><i class="lni-link"></i></a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="item">
              <div class="screenshot-thumb">
                <img src="img/faces/Rin Okumura.jpg" class="img-fluid" alt="" />
                <div class="hover-content text-center">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="single-text">
                        <p>Anime , Blue Exorcist</p>
                        <h5>Rin Okumura</h5>
                      </div>
                      <div class="zoom-icon">
                        <a class="lightbox" href="img/faces/Rin Okumura-1.jpg"><i class="lni-zoom-in"></i></a>
                        <a href="https://animekisa.tv/search?q=Blue+Exorcist"><i class="lni-link"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="screenshot-thumb">
                <img src="img/faces/iron ladies.jpg" class="img-fluid" alt="" />
                <div class="hover-content text-center">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="single-text">
                        <p>Manga , Iron Ladies</p>
                        <h5>Beiyang Fleet</h5>
                      </div>
                      <div class="zoom-icon">
                        <a class="lightbox" href="img/faces/iron ladies-1.jpg"><i class="lni-zoom-in"></i></a>
                        <a href="https://mangatx.com/manga/iron-ladies"><i class="lni-link"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="screenshot-thumb">
                <img src="img/faces/cross anga.jpg" class="img-fluid" alt="" />
                <div class="hover-content text-center">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="single-text">
                        <p>Anime , Cross Ange Rondo</p>
                        <h5>Angelise Ikaruga Misurugi </h5>
                      </div>
                      <div class="zoom-icon">
                        <a class="lightbox" href="img/faces/cross anga-1.jpg"><i class="lni-zoom-in"></i></a>
                        <a href="https://animekisa.tv/search?q=cross+ange"><i class="lni-link"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="screenshot-thumb">
                <img src="img/faces/moonlight sculptor.jpg" class="img-fluid" alt="" />
                <div class="hover-content text-center">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="single-text">
                        <p>Manga , The Moonlight Sculptor</p>
                        <h5>Lee Hyun - Weed</h5>
                      </div>
                      <div class="zoom-icon">
                        <a class="lightbox" href="img/faces/moonlight sculptor-1.jpg"><i class="lni-zoom-in"></i></a>
                        <a href="https://mangafunny.com/manga/the-legendary-moonlight-sculptor-2"><i class="lni-link"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Row -->
    </div>
  </section>
  <!-- Recent Showcase Section End --> 
<%- include("partials/footer") %>
